<div class="tab gerais" data-group="pericias" data-tab="gerais">
	<section id="periciasGerais" class="container">
		<h3 class="section-title">Perícias Gerais</h3>
		<div class="grid">
			{{#each system.skills.geral as |skill id|}}
			<div class="flex flex-group-center align-center">
				{{#if skill.caract.livre}}
					<input type="text" name="system.skills.geral.{{id}}.nome" value="{{skill.nome}}"
					 class="resource-label skill-label flex-1 flex-group-center align-center periciaLivre" 
					 data-type="String" placeholder="Perícia Livre">
					 <i class="fas fa-dice {{id}} rollable rollPericiaLivre" data-roll-type="skill" data-key="{{id}}"></i>
				{{else}}
					<label class="resource-label skill-label flex-1 flex-group-center align-center {{id}} rollable"
					data-roll-type="skill" data-key="{{id}}">{{label}}</label>
				{{/if}}
				<div class="resource-content flex flex-2 flex-group-center align-center">
					<input type="text" name="system.skills.geral.{{id}}.total" value="{{skill.total}}" class="" data-dtype="Number" disabled>
					<i class="fas fa-equals"></i>
					{{#if this.caract.isVoo}}
						<select name="system.skills.geral.{{id}}.ability">
							{{selectOptions ../vooCustom selected=skill.ability localize=true}}
						</select>
					{{else}}
						<select name="system.skills.geral.{{id}}.ability">
							{{selectOptions ../atributosAbv selected=skill.ability localize=true}}
						</select>
					{{/if}}
					<i class="fas fa-plus"></i>
					<input type="text" name="system.skills.geral.{{id}}.value" value="{{skill.value}}" class="" data-dtype="Number">
				</div>
			</div>
			{{/each}}
		</div>
	</section>
	<p style="font-size: 14px;"><i>+: perícias que necessitam treinamento. *: perícias que são afetadas por armadura.</i></p>
</div>

<div class="tab sociais" data-group="pericias" data-tab="sociais">
	<section id="atributosSociais" class="container">
		<h3 class="section-title">Atributos Sociais</h3>
		<div class="main-content flex flex-group-center align-center">
			<label for="system.abilities.man.value" class="resource-label">Manipulação</label>
			<div class="resource-content">
				<input type="text" name="system.abilities.man.value" 
				value="{{system.abilities.man.value}}" data-dtype="Number"/>
			</div>
			<label for="system.abilities.car.value" class="resource-label">Carisma</label>
			<div class="resource-content">
				<input type="text" name="system.abilities.car.value" 
				value="{{system.abilities.car.value}}" data-dtype="Number"/>
			</div>
		</div>
	</section>
	<section id="periciasSociais" class="container flex-2">
		<h3 class="section-title">Perícias Sociais</h3>
		<div class="flex flexcol resource-content">
			{{#each system.skills.social as |skill id|}}
			<div class="flex flex-group-center align-center">
				<label class="resource-label skill-label flex-1 flex-group-center align-center {{id}} rollable"
				data-roll-type="skill" data-key="{{id}}">{{label}}</label>
				<div class="resource-content flex flex-2 flex-group-center align-center">
					<input type="text" name="system.skills.social.{{id}}.total" value="{{skill.total}}" class="flex-1" data-dtype="Number" disabled>
					<i class="fas fa-equals"></i>
					<select name="system.skills.social.{{id}}.ability">
						{{selectOptions ../atributos selected=skill.ability localize=true}}
					</select>
					<i class="fas fa-plus"></i>
					<select name="system.skills.social.{{id}}.custom">
						{{selectOptions ../socialCustom selected=skill.custom localize=true blank="—"}}
					</select>
					<i class="fas fa-plus"></i>
					<input type="text" name="system.skills.social.{{id}}.value" value="{{skill.value}}" class="flex-1" data-dtype="Number">
				</div>
			</div>
			{{/each}}
		</div>
	</section>
</div>
