<section id="habilidadesCombate" class="container">
	<h3 class="section-title">Habilidades de Combate</h3>
	<div class="item flexrow flex-group-center" style="padding-left: 22px; border-bottom: 1px solid #a0a0a0;">
		<div class='item-medium item-prop bold'>Nome</div>
		<div class='item-mini item-prop bold'>Total</div>
		<div class='item-mini item-prop bold'>Base</div>
		<div class='item-medium item-prop bold'>Atributo</div>
		<div class='item-small item-prop bold'>Bônus</div>
	</div>
	<div class="flexrow flex-group-center align-center">
		<div class="item-name">
			<label class="resource-label item-medium rollable" data-roll-type="combatAbilities" data-key="CC">Combate Corporal (CC)</label>
		</div>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.abilities.combate.CC.total" 
			value="{{system.abilities.combate.CC.total}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<input type="text" name="system.abilities.combate.CC.base" 
			value="{{system.abilities.combate.CC.base}}" class="item-mini" data-dtype="Number">
			<i class="fas fa-plus"></i>
			<select name="system.abilities.combate.CC.ability" class="item-medium">
				{{selectOptions atributos selected=system.abilities.combate.CC.ability localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.abilities.combate.CC.value" 
			value="{{system.abilities.combate.CC.value}}" class="item-small" data-dtype="Number">
		</div>
	</div>
	<div class="flexrow flex-group-center align-center">
		<div class="item-name">
			<label class="resource-label item-medium rollable" data-roll-type="combatAbilities" data-key="CD">Combate à Distância (CD)</label>
		</div>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.abilities.combate.CD.total" 
			value="{{system.abilities.combate.CD.total}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<input type="text" name="system.abilities.combate.CD.base" 
			value="{{system.abilities.combate.CD.base}}" class="item-mini" data-dtype="Number">
			<i class="fas fa-plus"></i>
			<select name="system.abilities.combate.CD.ability" class="item-medium">
				{{selectOptions atributos selected=system.abilities.combate.CD.ability localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.abilities.combate.CD.value" 
			value="{{system.abilities.combate.CD.value}}" class="item-small" data-dtype="Number">
		</div>
	</div>
	<div class="flexrow flex-group-center align-center">
		<div class="item-name">
			<label class="resource-label item-medium rollable" data-roll-type="combatAbilities" data-key="E">Esquiva</label>
		</div>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.abilities.combate.E.total" 
			value="{{system.abilities.combate.E.total}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<input type="text" name="system.abilities.combate.E.base" 
			value="{{system.abilities.combate.E.base}}" class="item-mini" data-dtype="Number">
			<i class="fas fa-plus"></i>
			<select name="system.abilities.combate.E.ability" class="item-medium">
				{{selectOptions atributos selected=system.abilities.combate.E.ability localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.abilities.combate.E.value" 
			value="{{system.abilities.combate.E.value}}" class="item-small" data-dtype="Number">
		</div>
	</div>
	<div class="flexrow flex-group-center align-center">
		<div class="item-name">
			<label class="resource-label item-medium rollable" data-roll-type="combatAbilities" data-key="LM">Ler Movimento (LM)</label>
		</div>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.abilities.combate.LM.total" 
			value="{{system.abilities.combate.LM.total}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<input type="text" name="system.abilities.combate.LM.base" 
			value="{{system.abilities.combate.LM.base}}" class="item-mini" data-dtype="Number">
			<i class="fas fa-plus"></i>
			<select name="system.abilities.combate.LM.ability" class="item-medium">
				{{selectOptions atributos selected=system.abilities.combate.LM.ability localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.abilities.combate.LM.value" 
			value="{{system.abilities.combate.LM.value}}" class="item-small" data-dtype="Number">
		</div>
	</div>
</section>

<section id="estatisticasCombate" class="container">
	<h3 class="section-title">Estatísticas de Combate</h3>
	<div class="item flexrow flex-group-center" style="border-bottom: 1px solid #a0a0a0;">
		<div class='item-large bold'>Nome</div>
		<div class='item-mini bold' style="padding-right: 20px;">Total</div>
		<div class='item-small bold'>Perícia</div>
		<div class='item-medium bold'>Variável</div>
		<div class='item-small item-prop bold'>Bônus</div>
	</div>
	<div class="flex flex-group-center align-center">
	<label class="resource-label flex-1 flex-group-center align-center">Iniciativa</label>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.attributes.init.total" 
			value="{{system.attributes.init.total}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<select name="system.attributes.init.skill" class="item-medium">
				{{selectOptions periciasGerais selected=system.attributes.init.skill localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<select name="system.attributes.init.ability" class="item-medium">
				{{selectOptions atributos selected=system.attributes.init.ability localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.attributes.init.value" 
			value="{{system.attributes.init.value}}" class="item-small" data-dtype="Number">
		</div>
	</div>
	<div class="flex flex-group-center align-center">
	<label class="resource-label flex-1 flex-group-center align-center">Reação de Esquiva</label>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.attributes.reacaoEsquiva.total" 
			value="{{system.attributes.reacaoEsquiva.total}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<select name="system.attributes.reacaoEsquiva.combatAbility" class="item-medium">
				{{selectOptions habilidadesCombate selected=system.attributes.reacaoEsquiva.combatAbility localize=true}}
			</select>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.attributes.reacaoEsquiva.variavel" 
			value="{{system.attributes.reacaoEsquiva.variavel}}" class="item-medium" data-dtype="Number" disabled>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.attributes.reacaoEsquiva.value" 
			value="{{system.attributes.reacaoEsquiva.value}}" class="item-small" data-dtype="Number">
		</div>
	</div>
	<hr>
	<div class="flex flex-group-center align-center">
	<label class="resource-label flex-1 flex-group-center align-center">Deslocamento</label>
		<div class="resource-content flex flex-2 flex-group-center align-center">
			<input type="text" name="system.attributes.movement.andar" 
			value="{{system.attributes.movement.andar}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-equals"></i>
			<input type="text" name="system.attributes.movement.base" 
			value="{{system.attributes.movement.base}}" class="item-mini" data-dtype="Number">
			<i class="fas fa-plus"></i>
			<select name="system.attributes.movement.ability" class="item-medium">
				{{selectOptions atributos selected=system.attributes.movement.ability localize=true}}
			</select>
			<i class="fas fa-divide"></i>
			<input type="text" name="system.attributes.movement.divisor" 
			value="{{system.attributes.movement.divisor}}" class="item-mini" data-dtype="Number" disabled>
			<i class="fas fa-plus"></i>
			<input type="text" name="system.attributes.movement.bonus" 
			value="{{system.attributes.movement.bonus}}" class="item-small" data-dtype="Number">
		</div>
	</div>
</section>