<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
		<div class="profile">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="125" width="125"/>
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
		</div>
    <div class="header-fields">
			<div class="resources grid">
			<div class="resource">
					<label for="" class="resource-label">Nível de Campanha</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
			</div>
			<div class="resource">
					<label for="" class="resource-label">Nível Shinobi</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
			</div>
			</div>
      <div class="resources grid grid-3col">
				<div class="resource">
					<label for="" class="resource-label">Clã</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Idade</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Vila de Origem</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
				</div>
        <div class="resource">
          <label for="" class="resource-label">Gênero</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Tendência</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Lateralidade</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
        </div>
				<div class="resource">
          <label for="" class="resource-label">Vila Atuante</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Natureza Pr.</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Natureza Sc.</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
        </div>
      </div>
    </div>
  </header>
	<div id="middle-content">
		<div class="atributos">
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Força</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Destreza</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Agilidade</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Percepção</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Inteligência</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Vigor</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Espírito</label>
			</div>
		</div>
		<div class="acessoRapido">
			<div class="resource flex-group-center">
          <div class="resource-content">
          <input type="text" name="" value="" data-dtype="Number"/>
          {{!-- <span> / </span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/> --}}
          </div>
					<label for="" class="resource-label">Vitalidade</label>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content">
          <input type="text" name="" value="" data-dtype="Number"/>
          {{!-- <span> / </span>
          <input type="text" name="system.power.max" value="{{system.power.max}}" data-dtype="Number"/> --}}
          </div>
					<label for="" class="resource-label">Chakra</label>
        </div>
		</div>
	</div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="biografia">Biografia</a>
    <a class="item" data-tab="combate">Combate</a>
    <a class="item" data-tab="pericias">Perícias</a>
    <a class="item" data-tab="aptidoesPoderes">Aptidões/Poderes</a>
		<a class="item" data-tab="tecnicas">Técnicas</a>
		<a class="item" data-tab="inventario">Inventário</a>
		<a class="item" data-tab="anotacoes">Anotações</a>
		<a class="item" data-tab="efeitos">Efeitos</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

		{{!-- Biography Tab --}}
    <div class="tab biografia" data-group="primary" data-tab="biografia">
      {{editor system.biography target="system.biography" 
			rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Combat Tab --}}
    <div class="tab combate" data-group="primary" data-tab="combate">
      <section class="grid grid-3col">
        <aside class="sidebar">
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/shinobiNoSho/templates/actor/parts/actor-combate.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab pericias" data-group="primary" data-tab="pericias">
       {{> "systems/shinobiNoSho/templates/actor/parts/actor-pericias.hbs"}}
    </div>

    {{!-- Owned Aptitudes and Powers Tab --}}
    <div class="tab aptidoesPoderes" data-group="primary" data-tab="aptidoesPoderes">
      {{> "systems/shinobiNoSho/templates/actor/parts/actor-aptidoesPoderes.hbs"}}
    </div>

		{{!-- Owned Techniques Tab --}}
    <div class="tab tecnicas" data-group="primary" data-tab="tecnicas">
       {{> "systems/shinobiNoSho/templates/actor/parts/actor-tecnicas.hbs"}}
    </div>

		{{!-- Owned Inventory Tab --}}
    <div class="tab inventario" data-group="primary" data-tab="inventario">
       {{> "systems/shinobiNoSho/templates/actor/parts/actor-inventario.hbs"}}
    </div>

		{{!-- Owned Notes Tab --}}
    <div class="tab anotacoes" data-group="primary" data-tab="anotacoes">
       {{editor system.biography target="system.biography" 
			rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab efeitos flexcol" data-group="primary" data-tab="efeitos">
      {{> "systems/shinobiNoSho/templates/actor/parts/actor-efeitos.hbs"}}
    </div>

  </section>
</form>

{{log system}}

