<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
		<div class="profile">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="125" width="125"/>
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
		</div>
    <div class="header-fields">
			<div class="resources grid">
			<div class="resource">
					<label for="" class="resource-label">Nível de Campanha</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
			</div>
			<div class="resource">
					<label for="" class="resource-label">Nível Shinobi</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
			</div>
			</div>
      <div class="resources grid grid-3col">
				<div class="resource">
					<label for="" class="resource-label">Clã</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Idade</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Vila de Origem</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
				</div>
        <div class="resource">
          <label for="" class="resource-label">Gênero</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Tendência</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Lateralidade</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
        </div>
				<div class="resource">
          <label for="" class="resource-label">Vila Atuante</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Natureza Pr.</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
					<label for="" class="resource-label">Natureza Sc.</label>
          <div class="resource-content flexrow flex-center flex-between">
          	<input type="text" name="" value="" data-dtype="String"/>
          </div>
        </div>
      </div>
    </div>
  </header>
	<div id="middle-content">
		<div class="atributos">
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Força</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Destreza</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Agilidade</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Percepção</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Inteligência</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Vigor</label>
			</div>
			<div class="resource">
          <div class="resource-content">
          	<input type="text" name="" value="" data-dtype="Number"/>
          </div>
					<label for="" class="resource-label">Espírito</label>
			</div>
		</div>
		<div class="acessoRapido">
			<div class="resource flex-group-center">
          <div class="resource-content">
          <input type="text" name="" value="" data-dtype="Number"/>
          {{!-- <span> / </span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number"/> --}}
          </div>
					<label for="" class="resource-label">Vitalidade</label>
        </div>

        <div class="resource flex-group-center">
          <div class="resource-content">
          <input type="text" name="" value="" data-dtype="Number"/>
          {{!-- <span> / </span>
          <input type="text" name="system.power.max" value="{{system.power.max}}" data-dtype="Number"/> --}}
          </div>
					<label for="" class="resource-label">Chakra</label>
        </div>
		</div>
	</div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="biografia">Biografia</a>
    <a class="item" data-tab="combate">Combate</a>
    <a class="item" data-tab="pericias">Perícias</a>
    <a class="item" data-tab="aptidoesPoderes">Aptidões/Poderes</a>
		<a class="item" data-tab="tecnicas">Técnicas</a>
		<a class="item" data-tab="inventario">Inventário</a>
		<a class="item" data-tab="anotacoes">Anotações</a>
		<a class="item" data-tab="efeitos">Efeitos</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

		{{!-- Biography Tab --}}
    <div class="tab biografia" data-group="primary" data-tab="biografia">
			<nav class="sub-tabs sheet-tabs tabs" data-group="secondary">
				<a class="item" data-tab="historia">História</a>
				<a class="item" data-tab="caracteristicas">Características</a>
				<a class="item" data-tab="familia">Família</a>
  		</nav>

			<section class="sub-body">
				<div class="tab historia" data-group="secondary" data-tab="historia">
					<div class="historia container">
						<h3>História</h3>
						{{editor system.a target="system.a" 
						rollData=rollData button=true owner=owner editable=editable}}
					</div>
				</div>

				<div class="tab caracteristicas" data-group="secondary" data-tab="caracteristicas">
					<div class="row">
						<div class="descricao container flex-1">
							<h3 class="section-title">Descrição Física</h3>
							{{editor system.biography target="system.d" 
							rollData=rollData button=true owner=owner editable=editable}}
						</div>
						<div class="manias container flex-1">
							<h3 class="section-title">Manias e Peculiaridades</h3>
							{{editor system.biography target="system.b" 
							rollData=rollData button=true owner=owner editable=editable}}
						</div>
					</div>
					<div class="filosofia container">
						<h3 class="section-title">Filosofia de Vida</h3>
						{{editor system.biography target="system.c" 
						rollData=rollData button=true owner=owner editable=editable}}
					</div>
				</div>

				<div class="tab familia" data-group="secondary" data-tab="familia">
					<div class="familia container">
						<h3 class="section-title">Família</h3>
						{{editor system.biography target="system.e" 
						rollData=rollData button=true owner=owner editable=editable}}
					</div>
				</div>
			</section>
    </div>

    {{!-- Owned Combat Tab --}}
    <div class="tab combate" data-group="primary" data-tab="combate">
    	{{> "systems/shinobiNoSho/templates/actor/parts/actor-combate.hbs"}}
    </div>

    {{!-- Owned Skills Tab --}}
    <div class="tab pericias" data-group="primary" data-tab="pericias">
       {{> "systems/shinobiNoSho/templates/actor/parts/actor-pericias.hbs"}}
    </div>

    {{!-- Owned Aptitudes and Powers Tab --}}
    <div class="tab aptidoesPoderes" data-group="primary" data-tab="aptidoesPoderes">
      {{> "systems/shinobiNoSho/templates/actor/parts/actor-aptidoesPoderes.hbs"}}
    </div>

		{{!-- Owned Techniques Tab --}}
    <div class="tab tecnicas" data-group="primary" data-tab="tecnicas">
       {{> "systems/shinobiNoSho/templates/actor/parts/actor-tecnicas.hbs"}}
    </div>

		{{!-- Owned Inventory Tab --}}
    <div class="tab inventario" data-group="primary" data-tab="inventario">
       {{> "systems/shinobiNoSho/templates/actor/parts/actor-inventario.hbs"}}
    </div>

		{{!-- Owned Notes Tab --}}
    <div class="tab anotacoes" data-group="primary" data-tab="anotacoes">
			<div class="anotacoes container">
				{{editor system.biography target="system.biography" 
				rollData=rollData button=true owner=owner editable=editable}}
			</div>
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab efeitos flexcol" data-group="primary" data-tab="efeitos">
      {{> "systems/shinobiNoSho/templates/actor/parts/actor-efeitos.hbs"}}
    </div>

  </section>
</form>

{{log system}}

