<div id="d8roll" class="dice-roll d8roll">
	{{#if flavor}}
	<div class="dice-flavor">{{flavor}}</div>
	{{/if}}
	<div class="dice-result">
		<div class="dice-formula">
			{{formula}}
		</div>
		{{{tooltip}}}
		<div class="{{#if hasDegree}}grid{{/if}} {{#if isCritical}}itsCritical{{/if}} {{#if isFailure}}itsFailure{{/if}}">
			<h4 class="dice-total">
				{{total}}
			</h4>
			{{#if hasDegree }}
				<h4 class="dice-total degree">
					{{degree}}
				</h4>
			{{/if}}
		</div>
	</div>
</div>