<form id="armas" class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantity</label>
          <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Weight</label>
          <input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="descricao">Descrição</a>
    <a class="item" data-tab="combate">Combate</a>
		<a class="item" data-tab="detalhes">Detalhes</a>
		<a class="item" data-tab="efeitos">Efeitos</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="descricao">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Combat Tab --}}
    <div class="tab combate" data-group="primary" data-tab="combate">
      <div class="flex flex-group-center">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Teste de Ataque</label>
					<div class="resource-content">
					<select name="" class="item-medium">
						<option>Habilidades de Combate</option>
						<option>Habilidades de Combate</option>
						<option>Habilidades de Combate</option>
					</select>
					</div>
				</div>
				<div class="resource flex flex-1">
					<i class="fas fa-plus"></i>
					<input type="text" name="" value="" data-dtype="String"/>
				</div>
			</div>
			<div class="flex flex-group-center">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Tipo de Dano</label>
					<div class="resource-content">
					<select name="" class="item-medium">
						<option>Tipo de Dano</option>
						<option>Tipo de Dano</option>
						<option>Tipo de Dano</option>
					</select>
					</div>
				</div>
				<div class="resource flex flex-1"></div>
			</div>

			<div class="flex flex-group-center">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Alcance</label>
					<div class="resource-content">
					<select name="" class="item-medium">
						<option>Alcance</option>
						<option>Alcance</option>
						<option>Alcance</option>
					</select>
					</div>
				</div>
				<div class="resource flex flex-1">
					<i class="fas fa-arrow-right"></i>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String"/>
					</div>
				</div>
			</div>

			<div class="flex flex-group-center" style="padding-top: 10px;">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Dano</label>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex flex-2">
					<i class="fas fa-plus"></i>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex flex-1">
					<i class="fas fa-divide"></i>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex flex-1">
					<i class="fas fa-equals"></i>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String" disabled/>
					</div>
				</div>
			</div>

			<div class="flex flex-group-center">
				<div class="resource flex flex-1"></div>
				<div class="resource flex flex-3" style="justify-content: center; border: 1px dashed #BEBEBE">
					<div class="flex flex-group-center" style="padding: 5px 0; opacity: 0.6;">
						<a class="add-damage align-center"><i class="fas fa-plus"></i> Adicionar bônus</a>
					</div>
				</div>
			</div>
    </div>

		{{!-- Details Tab --}}
    <div class="tab detalhes" data-group="primary" data-tab="detalhes">
      <div class="flex flex-group-center">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Tipo de Arma</label>
					<div class="resource-content">
						<select name="" class="item-medium">
							<option>Tipo de Arma</option>
							<option>Tipo de Arma</option>
							<option>Tipo de Arma</option>
						</select>
					</div>
				</div>
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Subtipo de Arma</label>
					<div class="resource-content">
						<select name="" class="item-medium">
							<option>Subtipo de Arma</option>
							<option>Subtipo de Arma</option>
							<option>Subtipo de Arma</option>
						</select>
					</div>
				</div>
			</div>

			<div class="flex flex-group-center">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Classificação de Uso</label>
					<div class="resource-content">
						<select name="" class="item-medium">
							<option>Classificação de Uso</option>
							<option>Classificação de Uso</option>
							<option>Classificação de Uso</option>
						</select>
					</div>
				</div>
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Tamanho</label>
					<div class="resource-content">
						<select name="" class="item-medium">
							<option>Tamanho</option>
							<option>Tamanho</option>
							<option>Tamanho</option>
						</select>
					</div>
				</div>
			</div>
			<div class="resource flex prerequisito">
				<label for="system.details.nivelShinobi" class="resource-label p-r-10">Pré-requisito</label>
				<div class="resource-content">
					<input type="text" name="system.details.nivelShinobi" value="{{system.details.nivelShinobi}}" data-dtype="String"/>
      	</div>
			</div>

			<div class="flex flex-group-center">
				<div class="resource flex flex-2">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Compartimentos</label>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex flex-1">
					<i class="">/</i>
					<div class="resource-content">
						<input type="text" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex flex-3"></div>
			</div>

			<div class="grid traits-grid">
				<div class="resource flex">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Improvisada</label>
					<div class="resource-content">
						<input type="checkbox" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Arma Dupla</label>
					<div class="resource-content">
						<input type="checkbox" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Arremessável</label>
					<div class="resource-content">
						<input type="checkbox" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Duas Mãos</label>
					<div class="resource-content">
						<input type="checkbox" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">"Energizável"</label>
					<div class="resource-content">
						<input type="checkbox" name="" value="" data-dtype="String"/>
					</div>
				</div>
				<div class="resource flex">
					<label for="system.details.nivelShinobi" class="resource-label p-r-10">Ambidestra</label>
					<div class="resource-content">
						<input type="checkbox" name="" value="" data-dtype="String"/>
					</div>
				</div>
			</div>
    </div>

		{{!-- Effects Tab --}}
    <div class="tab efeitos" data-group="primary" data-tab="efeitos">
      {{> "systems/shinobiNoSho/templates/item/parts/item-efeitos.hbs"}}
    </div>
  </section>
</form>

{{log system}}